<div class="left-panel">
    <h1 class="heading">Chats</h1>
    <div class="loggedInUser">USER : {{ loggedInUser }}</div>
    <div class="btn addChat"*ngIf="!crech" (click)="toggleNew()">New</div>
    <div class="btn addChat" style="background-color: red;" *ngIf="crech" (click)="toggleNew()">Close</div>
    <app-name-form *ngIf="crech" (done)="newChat($event)"></app-name-form>
    <div *ngFor="let chat of chats" class="chat-menu-wrapper" (click)="getChat(chat.id)">
        <h3>{{ chat.name }}</h3>
    </div>
</div>