.left-panel{
    height: 100vh;
    width: 25vw;
    border-right: 2px solid white;
    overflow-y: scroll;
}
.heading{
    position: relative;
    width: 100%;
    text-align: center;
    height: 10%;
}
.chat-menu-wrapper{
    width: 99%;
    height: 6%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border: 1px solid white;
    position: relative;
}
.chat-menu-wrapper>h3{
    width: fit-content;
    height: fit-content;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.addChat{
    background: green;
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
}
.chat-menu-selected{
    background: #333;
}
.loggedInUser{
    position: relative;
    width: 100%;
    height: fit-content;
    margin-bottom: 2rem;
    text-align: center;
}