.main-window{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
}
.logout{
    position: absolute;
    top:1%;
    right: 2%;
    padding: 0.5rem;
}